body {
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
main {
    margin: auto;
    width: 90%;
}
.imagenes-productos {
    width: 200px;
    margin: auto;
}

.productos-main{
    margin-bottom: 10px solid #ebebeb;
    margin: auto;
    border: 15px #ebebeb solid;
}
.productos-descripcion {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;

}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    
}
.logo{
    width: 200px;
}
.copy-header {
    font-weight: 400;
    text-align: center;
}
h4 {
    font-size: 24px;
}
.precios {
    font-size:18px;
}
.descuentos {
    font-size: 16px;
    color: yellowgreen;
}
.descripciones {
    font-size: 16px;
}
.burger-menu {
    background-color: #03264C;
    margin: auto;
    color: white;
    max-width: 50px;
    text-align: center;
    font-size: 20px;
    display: block;
    border-radius: 8px;
    padding: 15px 0;
    cursor:pointer;
} 

.iconos-envio{
    color: greenyellow;
}

.iconos-footer {
    width: 100px;
    margin-bottom: 10px;
    size: 2em;
}

footer {
    text-align: center;
    margin: auto;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

@media (min-width: 360px) {
    .descripcion-productos {
        display: none;
    }
    .main-navbar {
        display: none;
    }
}
@media (min-width: 768px) {
   .productos-main{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
    .descripcion-productos {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    .main-header-top-bar {
        display: block;
    }
    .main-header {
        text-align: center;
    }
    .barra-busqueda {
        text-align: center;
    }
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }

}
@media (min-width: 1200px){
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
    }
    .main-header-top-bar{
        align-items: center;
        border: 0;
    }
    .main-navbar {
        margin-top: 50px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    .copy-header{
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .logo {
        width: 250px;
    }

}