body {
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #ebebeb;
}

main {
    margin: auto;
    width: 100%;
    margin-top: 147.5px;
}

main article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.imagenes-productos {
    width: 100%;
}

.contenedor-productos {
    margin-bottom: 10px solid #ebebeb;
    margin: auto;
}

.producto {
    margin-bottom: 10px solid #ebebeb;
    margin: auto;
    border: 15px #ebebeb solid;
    background-color: white;
}

.contenedor-precio-descuento {
    display: flex;
    text-align: left;
    align-items: center;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding-left: 10px;
    position: relative;
}

.contenedor-producto-descripcion {
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    color: grey;
    padding-left: 10px;
    background-color: white;
    transition: all 1s;
    display: none;
    height: 0;
}

article:hover .contenedor-producto-descripcion {
    display: block;
    height: 40px;
}

.contenedor-precio-descuento .precios {
    width: 30%;
}

.contenedor-precio-descuento .descuentos {
    width: 70%;
}

.main-header {
    background-color: #EAC926;
    padding: 8px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 131px;
}

.logo {
    width: 155px;
}

.banner img {
    width: 100%;
    height: 75px;
}

.copy-header {
    text-align: center;
    font-size: 11px;
}

h4 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: yellowgreen;
}

.burger-menu {
    background-color: #03264C;
    margin: auto;
    color: white;
    max-width: 40px;
    text-align: center;
    font-size: 20px;
    display: block;
    border-radius: 8px;
    padding: 8px 0;
    cursor: pointer;
}

.icono-cuotas {
    margin-right: 10px;
    font-size: 25px;
}

.barra-busqueda {
    display: flex;
    margin-left: 15px;
}

.barra-busqueda input {
    height: 45px;
}

.icono-busqueda {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 2px;
    border: 1px solid black;
    background-color: white;
    padding: 2px;
}

.iconos-rightbar {
    margin-left: 10px;
    font-size: 25px;
}

.iconos-envio {
    color: greenyellow;
    font-size: 25px;
    display: block;
    transition: all .5s;
}

.iconos-envio:hover {
    transform: rotate(360deg);
}

.iconos-footer {
    font-size: 25px;
    width: 100px;
    margin: 30px 0 0 0;
    color: #03264C;
}

footer {
    text-align: center;
    margin: 30px 0 -15px 0;
    background-color: white;
}

.iconos-footer {
    transition: all .5s;
}

.iconos-footer:hover {
    color: greenyellow;
}

.copyright-footer {
    background-color: white;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.titulo-secciones h4 {
    font-size: 18px;
}

.login-form {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 220px;
}

.boton-formulario {
    transition: all .5s;
}

.boton-formulario:hover {
    background-color: #0022AA;
}

.create-form {
    padding: 20px 15px;
    margin: auto;
    margin-top: 210px;
}

.control-formulario {
    margin-bottom: 15px;
    border: none;
}

.control-formulario .titulo-label {
    margin-bottom: 5px;
    font-style: normal;
    display: block;
    font-weight: bold;
}

.control {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.perfil-usuario {
    display: flex;
    text-align: left;
    width: 76%;
    margin-top: 16px;
}

.intereses-usuario {
    text-align: left;
    width: 76%;
    margin-top: 16px;
    display: grid;
}

.intereses-usuario label {
    margin: 10px;
}

.intereses-usuario label input {
    margin-right: 10px;
}

.boton-formulario {
    background-color: #03264C;
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 98%;
    margin-bottom: 15px;
}

@media (min-width: 320px) {
    .contenedor-precio-descuento .precios {
        font-size: 18px;
    }
    .contenedor-logo-busqueda {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }
    .barra-busqueda {
        width: 68%;
        height: 40px;
    }
    .icono-busqueda {
        display: none;
    }
    .precios {
        font-size: 15px;
        width: 30%;
    }
    .descuentos {
        font-size: 15px;
        width: 70%;
    }
    .descripcion-productos {
        display: none;
    }
    .main-navbar {
        display: none;
    }
    .create-form {
        text-align: left;
        width: 80%;
    }
}

@media (min-width: 768px) {
    .main {
        margin-top: 111px;
    }
    .main-header-top-bar {
        display: flex;
        align-items: center;
        font-size: 8px;
        margin-bottom: 40px;
    }
    .banner img {
        width: 100%;
        height: 115px;
    }
    .contenedor-logo-busqueda {
        display: flex;
        width: 61%;
        padding-left: 15px;
    }
    .barra-busqueda {
        font-size: 16px;
        align-items: center;
        width: 70%;
    }
    .icono-busqueda {
        display: block;
    }
    .copy-header {
        font-size: 12px;
    }
    .main-navbar .right-navbar {
        margin-right: 26px;
    }
    .titulo-secciones {
        text-align: left;
        margin-left: 25px;
        color: #666666;
    }
    .contenedor-productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contenedor-productos .producto {
        width: 45%;
    }
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        border: none;
        margin: 15px;
    }
    .contenedor-precio-descuento .precios {
        width: 50%;
    }
    .descripcion-productos {
        display: block;
    }
    .iconos-rightbar {
        font-size: 15px;
    }
    .icono-cuotas {
        font-size: 15px;
    }
    .icono-busqueda {
        font-size: 15px;
    }
    .burger-menu {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
        margin-top: -25px;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    .main-header {
        text-align: center;
        height: 95px;
    }
    .texto-footer {
        font-size: 15px;
    }
    .create-form {
        width: 90%;
        margin-top: 178px;
    }
    .login-form {
        margin-top: 200px;
    }
    .perfil-usuario {
        width: 35%;
    }
    @media (min-width: 1024px) {
        .logo {
            width: 235px;
        }

        .main {
            margin-top: 136px;
        }
        .contenedor-productos .producto {
            width: 22%;
        }
        .main-header {
            text-align: center;
            height: 120px;
        }
        .main-header-top-bar {
            display: flex;
            align-items: center;
            border: 0;
    
        }
        .main-navbar .right-navbar {
            margin-right: 60px;
        }
        .main-navbar li {
            margin: 0 10px;
        }
        .main-navbar a {
            font-size: 19px;
        }
        .copy-header {
            max-width: none;
            font-size: 16px;
            font-weight: 400;
        }
        .contenedor-logo-busqueda {
            width: 64%;
        }
        .barra-busqueda {
            font-size: 19px;
        }
        .create-form {
            margin-top: 220px;
        }
        .login-form {
            margin-top: 250px;
        }
        .contenedor-footer {
            display: flex;
            justify-content: center;
        }
        .iconos-footer {
            justify-content: center;
        }
        .texto-footer {
            font-size: 13 px;
            width: 450px;
        }
    }
}