body {
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #ebebeb;
}

main {
    margin: auto;
    width: 100%;
}

main article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.imagenes-productos {
    width: 100%;
}

.contenedor-productos {
    margin-bottom: 10px solid #ebebeb;
    margin: auto;
}

.producto {
    margin-bottom: 10px solid #ebebeb;
    margin: auto;
    border: 15px #ebebeb solid;
    background-color: white;
}

.contenedor-precio-descuento {
    display: flex;
    text-align: left;
    align-items: center;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding-left: 10px;
    position: relative;
}

.contenedor-producto-descripcion {
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    color: grey;
    padding-left: 10px;
    background-color: white;
}

.contenedor-precio-descuento .precios {
    width: 30%;
}

.contenedor-precio-descuento .descuentos {
    width: 70%;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.logo {
    width: 200px;
}

.banner img {
    max-width: 100%;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

h4 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: yellowgreen;
}

.burger-menu {
    background-color: #03264C;
    margin: auto;
    color: white;
    max-width: 50px;
    text-align: center;
    font-size: 20px;
    display: block;
    border-radius: 8px;
    padding: 15px 0;
    cursor: pointer;
}

.icono-cuotas {
    margin-right: 10px;
    font-size: 25px;
}
.barra-busqueda {
    display: flex;
    margin-left: 15px;
}

.icono-busqueda {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 2px;
    border: 1px solid black;
    background-color: white;
    padding: 2px;

}

.iconos-rightbar {
    margin-left: 10px;
    font-size: 25px;
}

.iconos-envio {
    color: greenyellow;
    font-size: 25px;
    display: block;
}

.iconos-footer {
    font-size: 25px;
    width: 100px;
    margin: 30px 0 0 0;
}

footer {
    text-align: center;
    margin: 30px 0 40px 0;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.create-form {
    padding: 20px 15px;
    margin: auto;
}
.control-formulario {
    margin-bottom: 15px;
}
.control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
.control {
    width: 100%;
    padding: 8px;
}
.boton-formulario {
    background-color: #03264C;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (min-width: 360px) {
    .contenedor-precio-descuento .precios {
        font-size: 18px;
    }
    .contenedor-logo-busqueda {
        display: flex;
        align-items: center;
    }
    .logo {
        width: 50%;
    }
    .barra-busqueda {
        width: 50%;
        height: 40px;
    }
    .icono-busqueda {
        display: none;
    }
    .precios {
        font-size: 15px;
        width: 30%;
    }
    .descuentos {
        font-size: 15px;
        width: 70%;
    }
    .descripcion-productos {
        display: none;
    }
    .main-navbar {
        display: none;
    }
    .create-form {
        text-align: left;
        width: 80%;
    }
}

@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        align-items: center;
        font-size: 8px;
        margin-bottom: 40px;
    }
    .contenedor-logo-busqueda {
        display: flex;
        width: 66%;
        justify-content: center;
    }
    .barra-busqueda {
        font-size: 16px;
        height: 20px;
    }
    .icono-busqueda {
        display: block;
    }
    .titulo-secciones {
        text-align: left;
        margin-left: 25px;
        color: #666666;
    }
    .contenedor-productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contenedor-productos .producto {
        width: 45%;
    }
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        border: none;
        margin: 15px;
    }
    .contenedor-precio-descuento .precios {
        width: 50%;
    }
    .descripcion-productos {
        display: block;
    }
    .iconos-rightbar {
        font-size: 15px;
    }
    .icono-cuotas {
        font-size: 15px;
    }
    .icono-busqueda {
        font-size: 15px;
    }
    .burger-menu {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    .main-header {
        text-align: center;
    }
    .texto-footer {
        font-size: 15px;
    }

    .create-form {
        width: 90%;
    }

@media (min-width: 1200px) {
    .contenedor-productos .producto {
        width: 22%;
    }
    .main-header {
        text-align: center;
    }
    .main-header-top-bar {
        display: flex;
        align-items: center;
        border: 0;
    }
    .main-navbar {
        margin-top: 50px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .logo {
        width: 360px;
    }
    .barra-busqueda {
        font-size: 16px;
    }
}
}